@import url("plugins/crossbrowser.css");

* {margin:0;padding:0;outline:none;}
img {border:none;}

a {color:black;text-decoration:none;}
a:hover {text-decoration:underline;}

label {display:block;margin-bottom:3px;}
label.inline {display:inline;}
input {border:none !important;border:solid 1px transparent;font-weight:bold;height:18px;}
input.submit {height:auto;width:auto;}

textarea {border:none;}

h1 {font-size:18px;margin-bottom:10px;}
h2 {font-size:15px;}
h3 {font-size:12px;}

li {list-style:none;}
ol {margin-left:20px;}

.replacement {font-size:0px;line-height:0px;text-indent:-9999px;}

body {background:white url(../images/bg/body.png) repeat-x;font:12px "Trebuchet MS", Verdana, Arial, sans-serif;margin-bottom:20px;line-height:14px;}

#main {width:940px;margin:0 auto;}

#logo {margin:15px 0 21px 0;float:left;}

/*Menus*/
#help_menu {float:right;background:url(../images/bg/tab.png) no-repeat;width:155px;height:23px;padding:10px 0 0 46px;font-size:11px;}
#help_menu li {display:inline;}
#help_menu li.first {margin-right:50px;}

#menu {float:left;width:940px;}
#menu li {list-style:none;display:inline;}
#menu li a {float:left;background-image:url(../images/bg/menu.png);background-repeat:no-repeat;height:54px;text-indent:-9999px;}
#menu li.welcome a {width:110px;}
#menu li.welcome a:hover {background-position:0 -54px;}
#menu li.get_started a {width:194px;background-position:-110px 0;}
#menu li.get_started a:hover {background-position:-110px -54px;}
#menu li.why a {width:199px;background-position:-304px 0;}
#menu li.why a:hover {background-position:-304px -54px;}
#menu li.about a {width:105px;margin-right:170px;background-position:-503px 0;}
#menu li.about a:hover {background-position:-503px -54px;}
#menu li.member_login a {width:125px;background-position:-770px 0;}
#menu li.member_login a:hover {background-position:-770px -54px;}

/*Home*/
#medal_services {float:left;width:151px;margin-right:20px;}
#medal_services ul {background:url(../images/bg/services_menu.jpg) no-repeat;margin-top:20px;height:148px;padding:10px;}
#medal_services ul h2 {color:#FFBD00;border-bottom:1px dotted white;padding-bottom:10px;margin-bottom:10px;}
#medal_services ul li.head {margin:0;padding:0;background:none;}
#medal_services ul li {list-style:none;margin:15px 0;font-size:11px;background:url(../images/bullet/yellow.png) 0 4px no-repeat;padding-left:10px;}
#medal_services ul li a {color:white;display:block;}
#medal_services ul li a:hover {color:#FFBD00;text-decoration:none;}

#home {float:left;width:545px;height:340px;overflow:hidden;padding-bottom:20px;}

#get_started_home {float:right;margin-top:55px;}

#hot_boxes {float:left;width:720px;}
#hot_boxes li {list-style:none;background:url(../images/bg/hot_boxes.png) 0 65px no-repeat;float:left;width:110px;height:220px;margin-right:10px;padding:0 14px 0 10px;}
#hot_boxes li.big_title {width:134px;padding:0;}
#hot_boxes li.big_title h3 {letter-spacing:-1px;text-align:left;margin-left:6px;}
#hot_boxes li.big_title p {padding:5px 0 0 0px;width:110px;margin-left:10px;}
#hot_boxes li h3 {text-align:center;}
#hot_boxes li a.title {display:block;height:70px;background-image:url(../images/bg/icons.jpg);margin:0 auto;margin-bottom:15px;}
#hot_boxes li p {margin-top:5px;padding-top:5px;font-size:11px;line-height:12px;border-top:1px dotted #999;}

#hot_boxes li a.investor {width:40px;}
#hot_boxes li a.services {width:37px;background-position:-37px 5px;}
#hot_boxes li a.how {width:56px;background-position:-75px 5px;}
#hot_boxes li a.trademarks {width:76px;background-position:-130px 0;}
#hot_boxes li a.blog {width:70px;background-position:-205px 10px;}

#patent_search {background:url(../images/bg/patent_search.png) no-repeat;float:right;width:180px;height:162px;margin-top:30px;padding:10px;position:relative;}
#patent_search h3 {padding-bottom:5px;border-bottom:1px dotted #999;margin-bottom:15px;font-size:14px;}
#patent_search p {width:110px;}
#patent_search input {position:absolute;bottom:9px;left:12px;border:none;width:130px;height:22px;font-weight:bold;float:left;}
#patent_search input.submit {width:40px;margin-left:5px;position:absolute;bottom:9px;right:12px;left:auto;}

/*Content*/
#content {float:left;margin:20px 0;}

.content_cms p {margin-bottom:14px;}
.content_cms ul {margin-bottom:14px;}
.content_cms li {background:url(../images/bullet/locker.jpg) no-repeat;padding-left:20px;margin:2px 0;}

#hot_links {text-align:center;width:940px;margin-top:20px;}
#hot_links img.first {margin-right:100px;}

#with_form {float:left;width:579px;padding-right:20px;border-right:1px dotted #CCC;}
#with_form_small {float:left;width:459px;padding-right:40px;border-right:1px dotted #CCC;}

/*Login*/
#login {float:right;width:274px;margin:-44px 0 0 20px;padding:0 33px 0 13px;}
#login form {background:url(../images/bg/login.png) no-repeat;height:183px;padding:10px;margin-bottom:20px;}
#login.f_password form {background:url(../images/bg/forgot_password.png) no-repeat;}
#login form h3 {width:254px;margin-top:15px;padding-bottom:5px;border-bottom:1px dotted #999;margin-bottom:15px;font-size:14px;float:left;}
#login form input {margin:2px 0 10px 5px;width:240px;}
#login form input.second {margin:7px 0 0 10px;}
#login form input.submit {margin:10px 0 0 0;float:right;width:57px;height:26px;background:url(../images/bt/login.jpg) no-repeat;}
#login.f_password form p {margin:10px 0 10px 0;}
#login.f_password form input.submit {width:77px;background:url(../images/bt/submit2.jpg) no-repeat;}

#register {float:right;width:400px;margin-left:40px;}
#trademark form p,
#register form p {background:url(../images/bg/input_01.jpg) 0 13px no-repeat;height:auto !important;height:50px;min-height:50px;}
#trademark form p.big_label {background:url(../images/bg/input_01.jpg) 0 26px no-repeat;height:auto !important;height:60px;min-height:60px;}
#trademark form p.select_small {background:url(../images/bg/input_02.jpg) right top no-repeat;padding-top:4px;}
#register form p.textarea,
#trademark form p.textarea {background:url(../images/bg/input_03.jpg) 0 13px no-repeat;}
#trademark form p.select_small select {margin-left:20px;width:270px;}
#trademark form p.select_small label {display:inline;}
#trademark form p.select_small small {margin:8px 0 10px 120px;}
#trademark form p {float:left;width:400px;}
#trademark form p.first {margin-right:140px;}
#trademark form textarea,
#register form textarea,
#trademark form input,
#register form input {background-color:#EFEFEF;margin-left:7px;width:380px;}
#register form input.submit {margin:5px 0 0 0;float:right;width:77px;height:26px;background:url(../images/bt/submit.jpg) no-repeat;}
#register form input.contact {margin-top:20px;}
#register form img#already_member {float:right;margin:5px 10px 0 0;}
#trademark form p.checkbox,
#register form p.checkbox {background:none;float:right;}
#trademark form p.checkbox label.small,
#register form p.checkbox label {display:inline;float:right;width:370px;margin:0 0 0 10px;}
#register form p.checkbox input {width:auto;float:left;}

/*Trademarks*/
#trademark {margin-top:40px;}
#trademark #column_first {float:left;width:540px;}
#trademark #column_first.less {float:left;width:520px;}
#register label,
#trademark label {font-size:11px;}
#trademark p small {display:block;margin:5px 10px 10px 10px;color:#999;}
#register textarea,
#trademark textarea {height:60px;margin-bottom:2px;}
#trademark form p.terms {background:url(../images/bg/input_03.jpg) 0 0 no-repeat;padding-top:4px;height:auto !important;height:70px;min-height:70px;}
#trademark form p.terms textarea {height:60px;}
#trademark form p.checkbox label.small {width:80px;}
#trademark form p.submit {background:none;text-align:right;}
#trademark form p.submit input {width:auto;height:auto;}
#trademark form p.checkbox small {margin-bottom:0px;}
#trademark form p.checkbox input {width:20px;float:left;}
#trademark form p.checkbox label.small {float:left;width:40px;}
#trademark form p.none {background:none;}
#trademark form p.none input {margin:2px 0;width:400px;}
#trademark form p.check label {padding-top:4px;}
#trademark table {margin:40px 0;width:940px;}
#trademark table tr.odd td,
#trademark table tr.odd th {background-color:#CCC;}
#trademark table td,
#trademark table th {padding:5px;vertical-align:top;}
#trademark table th {text-align:left;width:200px;}
#register form p.fix {float:left;height:91px !important;width:400px;}
#column_first {position:relative;}
#column_first .help_icon {position:absolute;right:120px;}
#column_first #help_icon1 {top:18px;}
#column_first #help_icon2 {top:85px;}
#column_first #help_icon3 {top:195px;}
#column_first #help_icon4 {top:318px;}
#column_first #help_icon5 {top:18px;}
#column_first #help_icon6 {top:82px;}
#column_first #help_icon7 {top:164px;right:100px;}
#help_icon8 {margin:18px 0 0 3px;float:right;}
#help_icon9 {margin:36px 0 0 3px;float:right;}
#help_icon10 {margin:0px 0 0 3px;float:right;}
#help_icon11 {margin:30px 0 0 3px;float:right;}
#trademark form p.indent {margin-left:0;float:left;}
#trademark form p select {width:390px;margin-left:5px;}
#trademark form .checkbox label.error {float:right;margin:0 140px 0 0;}

form#my_account {margin:10px 0 0 -40px;float:left;width:400px;}

/*Questionnaire*/
#questionnaire {margin-top:20px;width:940px;}
#questionnaire form label {font-size:11px;text-transform:none;}
#questionnaire form p {background:url(../images/bg/input_04.jpg) left 20px no-repeat;height:auto !important;height:70px;min-height:70px;}
#questionnaire form p.first {background:url(../images/bg/input_01.jpg) left 20px no-repeat;height:auto !important;height:50px;min-height:50px;}
#questionnaire form p.first input {background-color:#EFEFEF;margin:5px 0 0 7px;width:380px;}
#questionnaire form p textarea {height:50px !important;margin:10px 0 10px 10px;background-color:#EFEFEF;width:920px;}
#questionnaire .more_info {cursor:pointer;}
#questionnaire .info_text {background:url(../images/bg/info.jpg) bottom left no-repeat;padding:5px 20px 20px 20px;display:none;}
#questionnaire .info_text p {background:none;height:auto !important;height:auto;min-height:auto;}
#questionnaire #actions {margin-top:20px;}
#questionnaire #actions input {cursor:pointer;}
#questionnaire #progress_bar {float:left;text-align:center;width:200px;height:26px;background:url(../images/bg/progress_bar.jpg) no-repeat;margin-top:5px;position:relative;}
#questionnaire #progress_bar img {position:absolute;top:0;}
#questionnaire #progress_bar img.left {left:0;}
#questionnaire #progress_bar img.right {right:0;top:0;}
#questionnaire #progress_bar p {position:absolute;background:none;top:5px;left:40px;}
#questionnaire #progress_bar div {position:absolute;background:url(../images/bg/progress_bar_filled.jpg) repeat-x;height:24px;}
#questionnaire #buttons {float:right;text-align:right;}
#questionnaire #buttons input.submit {margin:5px 0 0 0;float:left;width:155px;height:26px;background:url(../images/bt/save_and_continue.jpg) no-repeat;}
#questionnaire #buttons .saveexit {float:left;width:116px;height:26px;background:url(../images/bt/exit_and_save.jpg) no-repeat;margin:5px 10px 0 10px;}
#questionnaire #buttons .space {margin-right:10px;}
#questionnaire #buttons .back {float:left;width:66px;height:26px;background:url(../images/bt/back.jpg) no-repeat;margin-top:5px;}
#questionnaire #buttons a {text-decoration:none;color:white;}
#questionnaire form p.checkbox_small {background:none;height:25 !important;height:25px;min-height:25px;margin-top:10px;}
#questionnaire form p.checkbox_small label {float:left;margin:8px 0 0 5px;}
#questionnaire form p.checkbox_small input {margin-top:4px;float:left;}
#questionnaire ol {margin-top:20px;}
#questionnaire #column_first {float:left;width:540px;}
#questionnaire #column_first select {width:390px;margin:5px 0 0 5px;}
#questionnaire #column_first.right {float:right;width:400px;}

#review_questions {margin:20px 0 0 40px;}
#review_questions li {list-style-image:none;list-style:decimal;background:none;padding:5px;margin:0;}
#review_questions li.odd {background-color:#CCC;padding:5px;}
#review_questions li p {margin:0;}

#questionnaire p#terms_big {height:210px !important;background:url(../images/bg/input_05.jpg) left top no-repeat;}
#questionnaire p#terms_big textarea {height:190px !important;}

.question_answers {width:400px;margin:20px;}

#field_set {background:url(../images/bg/input_04.jpg) left 20px no-repeat;height:auto !important;height:70px;min-height:70px;}
#field_set.inline {background:url(../images/bg/input_06.jpg) left 20px no-repeat;height:auto !important;height:40px;min-height:40px;}
#field_set textarea {height:50px !important;margin:10px 0 10px 10px;background-color:#EFEFEF;width:920px;}
#field_set.inline input {height:20px !important;margin:10px 0 10px 10px;background-color:#EFEFEF;width:920px;}

#sitemap li a {display:block;}
#sitemap li {background:none;padding:5px;}
#sitemap li.odd {background-color:#CCC;}
#sitemap li.odd li {background-color:#EAEAEA;}

/*Investors*/
#inventors {width:100%;margin:10px auto 0 auto;border-bottom:solid 1px #CCC;padding-bottom:10px;}
.bt_add img {margin:20px 0;}

/*Footer*/
#footer {clear:both;background:url(../images/bg/footer.png) no-repeat;height:45px;padding:10px 20px 0 20px;font-size:10px;line-height:16px;}
#footer ul {float:left;margin:10px 140px 0 0;}
#footer ul li {display:inline;border-right:solid 1px black;padding-right:7px;margin-right:5px;}
#footer ul li.last {border:none;}

/* Messages */
label.error  {color:red; font-weight:normal;margin-top:5px;}
div.notice {border:solid 2px green;background-color:#B2DFB8;color:green;padding:3px 5px;float:right;margin:60px -200px 0 0;}
div.error {border:solid 2px red;background-color:#FDB5AF;color:red;padding:3px 5px;float:right;margin:60px -200px 0 0;}

/*Google Button*/
#BB_BuyButtonForm input {height:auto !important;width:auto !important;margin-top:10px;}