<h1>My Account</h1>
<% form_for(@user, :url => user_path, :html => { :class => "validate", :method => :put }) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= submit_tag(t(:update)) %>
<% end %>
