<h1>Questionnaire &raquo; Question <%= params[:question_id] %></h1>
<%= error_messages_for @object.class.to_s.underscore.to_sym %>
<% form_for(@answer, :url => answer_save_and_continue_path, :live_validations => true, :html => { :method => :put }) do |f| %>
  <%= render :partial => "question", :locals => { :f => f }, :object => @question %>
  <p><%=submit_tag "Save & Continue" %></p>
<% end %>