<h1><%= @page.name %></h1>
<div class="content_cms">
	<%= @page.body %>
</div>
<div id="hot_links">
  <%= link_to image_tag("bt/trademark_search.png", :class => "first", :alt => "Trademark Search", :title => "Trademark Search", :size => "344x238"), page_path("trademark-search") %>
  <%= link_to image_tag("bt/trademark_application.png", :alt => "Trademark Application", :title => "Trademark Application", :size => "397x238"), page_path("trademark-application") %>
</div>